/* Grift Font Family */

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

