/* Grift Font Family */

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-thin.otf') format('opentype'),
       url('../fonts/grift-thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-extralight.otf') format('opentype'),
       url('../fonts/grift-extralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-light.otf') format('opentype'),
       url('../fonts/grift-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-regular.otf') format('opentype'),
       url('../fonts/grift-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-medium.otf') format('opentype'),
       url('../fonts/grift-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-semibold.otf') format('opentype'),
       url('../fonts/grift-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-bold.otf') format('opentype'),
       url('../fonts/grift-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-extrabold.otf') format('opentype'),
       url('../fonts/grift-extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grift';
  src: url('../fonts/grift-black.otf') format('opentype'),
       url('../fonts/grift-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

